{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<h2>How it Works</h2>
<p>This website was built using the Python programming language Flask. Because I've already built a website with a similar structure to this one (see <a href="https://torasimecha.com" target="_blank">my Mom's website</a>) I was able to use a lot of the same code.


<h2>Note</h2>
    <p>I built this website in a few hours I had on the plane ride to Israel and so I didn't have the internet as tool while building it, so please excuse any errors.
    If there is something that can be improved or corrected feel free to reach out to me at eliyahumasinter@gmail.com.</p>
<br>
This Website was fully designed and built by Eliyahu Masinter.



{% endblock %}
