{% extends "base.html" %}
{% block title %}Contact Me{% endblock %}

{% block content %}
<h1>Methods of Contact</h1>

<ul class="contact">
    <li><b>Signal</b> If you have Signal, this is the absolute best way to reach me. I can be reached at 202-738-0094.</li>
    <li><b>WhatsApp</b> WhatsApp works as well if that is perferable at the same number (202-738-0094)</li>
    <li><b>Phone</b> You can text and call me at my Israeli number -----</li>
    <li><b>Email</b> My email address is eliyahumasinter@gmail.com.</li>

</ul>
{% endblock %}
