{% extends "base.html" %}

{% block title %}Notifications{% endblock %}

{% block content %}

<div class="container">
<h1>Get email notifications!</h1>
<br>
<div class="form-group-row">
<form method="POST" action= "{{ url_for('getemail')}}">
  <input type="email" class="form-control col-sm-10" id="email" name="email" placeholder="name@email.com" required / style="margin-bottom: 1em;" >
  <input class="submit-button btn btn-primary" type="submit" value="Submit">
</form>
</div>
</div>

{% endblock %}
